.header {
  background-color: rgb(247, 222, 26);
  background-image: linear-gradient(
    to bottom,
    rgb(247, 222, 26) 0%,
    rgb(239, 227, 153) 100%
  );
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.logo {
  display: inline-block;
  position: relative;
  width: 2rem;
  right: 30%;
}

.appName {
  display: inline-block;
  position: relative;
  right: 29%;
}

.searchForm {
  padding: 1em;
}

.searchInp {
  width: 70%;
}

.okBtn {
  margin-left: 1rem;
}

.okBtn:hover {
  background-color: yellow;
  transform: scale(1.2);
}

.quickLists {
  text-align: center;
  font-size: small;
}
