.occasionList {
  /* width: 20%; */
  display: inline-block;
  margin: 0.4rem;
}
.occasionList:hover {
  cursor: pointer;
}

.occasionList:hover .list {
  display: block;
}

.list {
  display: none;
  position: absolute;
  background-color: rgba(239, 227, 153, 0.8);
  width: 10em;
  /* left: 20%; */
  margin-top: 0%;
  padding-left: 2em;
  font-weight: bold;
  z-index: 3;
}

.list ul {
  list-style: none;
  text-align: left;
}
.list li {
  list-style: none;
  text-align: left;
  /* font-weight: bold; */
}
.list ul {
  font-weight: lighter;
  padding-left: 2em;
}

.list ul li:hover {
  cursor: pointer;
  background-color: rgb(253, 253, 126);
}
